/* rokkit */
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;200;300;400;500;600;700;800&display=swap');

:root{
  --main-bg-color: linear-gradient( to bottom, var(--navbar), var(--silverblue));
  --reverse-bg-color: linear-gradient( to top, var(--silverblue), white);
  --purple: #160035;
  --logored:#8A001f;
  --navbar:#C3DDEC;
  --darkgreen: #001e04;
  --green:rgba(0, 70, 0, 0.513);
  --white:hsla(192, 10%, 90%, 0.979);
  --lightblue: #6fa8be;  
  --skyblue:hsla(192, 100%, 79%, 0.979);
  --silverblue:#3e6586;
  --lightgradient: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.804),
    rgba(255, 255, 255, 0.409)
  );
  --headerfont: 2.2rem;
  --largefont: 2rem;
  --mediumfont:1.5rem;
  --smallfont: 1.25rem;
  --textfont: 1.1rem;
}

* {
  box-sizing: border-box; /*accounts for margin and padding in sizing, easier to size */
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Rokkitt', serif;
  font-weight: 100;
  line-height: 1.5;
}

ul {
  list-style-type: none; /* takes bullet points out */
}

h2, h3{
  line-height: 1.6;
  text-align: center;
}

h4{
  font-size: var(--textfont);
  text-align: center;
  font-weight: 200;
}

h5{
  padding: 2rem;
  text-align: center;
}

p{
  line-height: 1.6;
}

img {
  width: 100%; /*keep images inside box container*/
}

a {
  text-decoration: none; /* takes underline out*/
}

a:visited{
  color: black;
}

a:active{  
  /* emulates pressing of button in 3d space */
  top: 1px;
}

.page-background{
  background-color: var(--navbar);
}

/* navigation */

#navbar {
  display: flex;
  position: sticky;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar);
  color:hsla(192, 10%, 90%, 0.979);
  height: 8vh;
  margin-right: auto;
  top: 0;
  z-index: 1111;
}

#logo{
    width: 13em;
    position: relative;
    top: 4.5vh;
}

.navlinks{
  font-weight: 200;
  display: flex;
  position: relative;
  width: 100%;
  right: 0;
  margin-left: auto;
}

.navlinks ul {
  display: flex; /*align navbar items in horizontal row */
  width: 100%;
  flex: 1;
  align-items: center;
}

.navlinks ul li{
  flex: 1;
}

.navlinks li a {
  display: flex;
  color: black;
  padding: 1rem;
  height: 80%;
  position: relative;
  justify-content: center;
  font-size: var(--textfont);
}

.navlinks li a:hover {
  color:var(--logored);
}

.navlinks li a:after{
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--logored);
  height: 2px;
}

.navlinks ul li>a:hover:after{
  width: 50%;
}

nav a,
nav a:after,
nav a:before {
  transition: all .4s;
}

.contact-nav{
  border-right: var(--silverblue) solid 2px;
}

#nav-search{
    display: flex;
    width: 2.2em;
    margin: auto;
}

#nav-search:hover{
    cursor: pointer;
}

#logo-nav-outer{
  display: none ;
}

/* main */

.main-wrap{
  background-color: aliceblue;
  height: fit-content;
  padding-bottom: 4rem;
}

#main-header-outer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  color: black;
  position: relative;
  top: 4rem;
  padding: 1em;
  height: fit-content;
}

#main-header-outer h1{
  text-align: center;
  font-size: var(--headerfont);
  text-shadow: -4px 7px 10px rgba(0, 0, 0, 0.244);
  /* offset x ~ offset y ~ blur radius */
  padding: 1rem;
  transition: all 1.8s;
}



h1:after{
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 16%;
  content: '.';
  color: transparent;
  background: var(--logored);
  height: 2px;
}

.main-header-shape{
  display: flex;
  width: 30em;
  background-color: var(--logored);
  color: aliceblue;
	height: 0;
  font-size: .8em;
}

.main-header-shape h2{
  width:fit-content;
  height: fit-content;
  text-shadow: -4px 7px 10px rgba(0, 0, 0, 0.244);
  transition: transform 300ms ease-in-out;
}

.main-header-shape h2:hover, #flag img:hover{
  transform: scale(1.03);
}

#flag{
  position: relative;
  padding-top: 6%;
  left: 64%;
  /* padding: 1em; */
  /* right:0; */
  width: 8em;
}

#flag img{
  transition: transform 300ms ease-in-out;
  box-shadow: -2px 4px 7px rgba(0, 0, 0, 0.42);
}

.shape1{
  border-radius: .4em 0 .2em .2em;
  border: 1px solid aliceblue;
  /* single sided trapezoid using border */
  border-color: var(--logored) aliceblue transparent transparent;
  border-width: 7em 5em 0 2em; 
}

.shape1 h2{
  position: absolute;
  width: 30%;
  bottom: 25%;
  max-width: 16em;
  text-align: start;
  padding-left: 1rem;
  font-style: italic;
  font-weight: 500;
}

.shape2{
  border-radius: 0 .7em .2em 0;
  border: 1px solid aliceblue;
  border-color: var(--logored) transparent transparent aliceblue;
  border-width: 0 0 7em 5em;
  /* top ~ right ~ bottom ~ left */
}

.shape2 h2{
  position: absolute;
  bottom: 25%;
  width: 11vw;
  text-align: start;
  padding-left: 1rem;
  font-weight: 400;
  /* border: black solid 2px; */
  width: 12%;
  max-width: 11em;
}

.main-select-wrapper{
  width: 70%;
  margin: auto;
  margin-top: 7em;
  padding: 4rem;
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 4em;
  border-radius: .2em .7em;
  /* background: var(--lightgradient); */
  /* border: rgb(211, 211, 211) solid 1px;` */
}

.main-select{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16em;
  height: 11em;
  border-radius: .2em .7em;
  background: linear-gradient(to bottom, rgba(224, 224, 224, .7), var(--navbar));
  text-shadow: -4px 7px 10px rgba(0, 0, 0, 0.244);
  box-shadow: 0 7px 11px rgba(0, 0, 0, 0.244);
  transition: transform 250ms ease-in-out, background-color 300ms ease-in-out;
}

.main-select:hover{
  transform: scale(1.04);
  cursor: pointer;
  background-color: var(--logored);
}

.main-select h3{
  font-weight: 400;
  font-style: italic;
}

#main-product-img{
  width: 70%;
  margin:auto;
}

/* finishing products */

#products-main{
  padding-top: 7rem;
  height: fit-content;
  background-color: var(--navbar);
}

.product-header{
  background: white;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 1.5rem 4rem;
  border-radius: .7em .2em .4em .2em;
  transition: background-color 250ms ease-in-out, color 300ms ease-out;
}

.product-header:hover{
  background-color: var(--logored);
  color: white;
}

#products{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 24%; /* size of column/element */
  justify-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 7em;
  background-color: rgb(249, 248, 248);
  border-radius: .2em;
  height: fit-content;
  width: 90%;
  margin: 4rem auto 0;
  padding: 4rem;
}

.product-card{
  flex: 0 0 auto;
  width: 22em;
  height: 22em;
  border: 1px solid #f1f1f1;
  border-radius: .7em;
  padding: 1em;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.product-card:nth-child(even){
  background: var(--logored);
}

/* This container is needed to position the front and back side */

.product-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

.product-card:hover .product-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */

.product-card-front, .product-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.product-card-front img{
  border-radius: 4px 0;
  width: 100%;
  height: 100%;
}

/* Style the back side */

.product-card-back {
  border-radius: 0 4px;
  background: white;
  color: black;
  transform: rotateY(180deg);
}

.finishing-products{
  padding: 1rem;
}

.finishing-products ul{
  background: linear-gradient(to top, rgba(240, 240, 240, 0.657), rgba(207, 207, 207, 0));
  border: gainsboro solid 1px;
  width: 95%;
  height: fit-content;
  margin: 1em auto 0;
  list-style-type: circle;
  padding: 0 1em;
  border-radius: 4px;
  text-align: start;
}

.finishing-products ul li{
  width: 95%;
  font-weight: 700;
  margin: 1em auto;
}

/* accessories */

.accessories-main{
  height: fit-content;
}

/* contact page */

.contact-main{
    height: fit-content;
    position: relative;
    background: var(--main-bg-color);
  }
  
  .contact-main header{
    height: fit-content;
    max-width: 30%;
    margin: auto;
    position: relative;
  }
  
  .contact-main h3{
    text-align: start;
    margin: 0 0 0 7%;
    padding-top: 11%;
    color: aliceblue;
    font-family: 'Outfit', sans-serif;
    font-weight: 100;
    font-size: var(--mediumfont);
  }
  
  .contact-main h4{
    margin-left: 50%;
    padding-top: 10%;
    color: rgba(198, 195, 189, 0.889);
    width: 40%;
    font-size: 16px;
    text-align: end;
  }
  
  #contact-wrapper{
    height: fit-content;
  }
  
  #contact-form{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-auto-rows: fit-content;
    gap: 2rem;
    width: 90%;
    max-width: 35rem;
    height: fit-content;
    padding: 7rem;
    margin: 3vh auto 0;
    backdrop-filter: blur(2rem);
    box-shadow: 0 .7rem 2rem rgba(0, 0, 0, 0.199);
    border: 4px rgba(255, 255, 255, 0.155) solid;
    border-radius: .8rem;
    font-weight: 100;
  }
  
  label{
    color: white;
    font-size: var(--smallfont);
    font-weight: 200;
  } 
  
  input, textarea {
    color: white;
    width: 100%;
    max-width: 25rem;
    margin-top: 1rem;
    padding: .3rem .7rem;
    outline: 0;
    border: 3px rgba(255, 255, 255, 0.462) solid;
    border-radius: .4rem .2rem;
    background: transparent;
    font-size: 1rem;
  }
  
  .contact-date{
    margin: .5rem 0;
    width: min-content;
  }
  
  form p{
    width: 100%;
    position: relative;
    margin: auto;
    color:  blue;
  }
  
  button{
    background: none;
    border: none;
  }
  
  #contactbutton{
    display: flex;
    justify-content: center;
  }
  
  #contactbutton.bookpage{
    margin: 3rem auto 2rem;
  }
  
  #bookdisclaimer{
    font-size: 14px;
  }

  /* footer */

  footer{
    background-color: var(--logored);
    color: aliceblue;
    text-align: center;
    font-weight: 200;
  }

  footer ul{
    display: flex;
    justify-content: center;
    gap: 3em;
    margin: 0 auto;
    padding: 2em;
    width: 40%;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
  }

  .footer-item{
    font-weight: 400;
    padding: 1em;
    width: 50%;
    margin: auto;
  }

  @media only screen 
      and (min-device-width: 375px) 
      and (max-device-width: 812px) 
      and (-webkit-min-device-pixel-ratio: 3) { 

    html{
      overflow-x: hidden;
    }
    header > h2{
      transition: 1000ms font-size;
      font-size: 2rem;
      text-align: start;
    }
  
    header > h3{
      font-size: var(--textfont);
      position: relative;
      padding: 1rem 0 4rem;
    }
  
    h4{
      font-size: .8rem;
    }
  
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      background-color: var(--navbar);
      color:var(--white);
      height: 8vh;
    }
  
    .burger {
      position: absolute; /*keeps hamburger menu locked on right side of screen*/
      right: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 1.7rem;
      height: 1.4rem;
      margin:auto;
      cursor: pointer;
    }
  
    .burger .bar{
      height: .1rem;
      width: 100%;
      background-color: var(--logored);
      border-radius: 1rem; 
    }
  
    #bar2{
      width: 74%;
      align-self: flex-end;
    }
  
    .video {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: -999;
      width: 100%;
    }
  
    .homevid {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      height: auto;
      left: none;
      right: none;
      margin-left: auto;
      margin-right: auto;
    }
  
    .logo-wrapper{
      display: flex;
      align-items: center;
      justify-content: start;
      flex-wrap: wrap;
      height: 100%;
      width: 100%;
    }
  
    #logo{
      display: none;
    }

    #logo-nav-outer{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #logo-nav{
      width: 7em;
      margin: .5em auto 0;
      padding: .5em;
      position: relative;
    }
  
    .navlinks{
      display: flex;
      position: relative;
      width: auto;
      right: 0;
      margin-left: auto;
    }
    
    .navlinks-menu.active{
      transform: translateX(0%);
    }
  
    .navlinks ul {
      position: absolute;
      right: 0;
      height: 92vh;
      top: 4vh;
      width:100vw;
      display: flex;
      flex-direction: column;
      background: var(--main-bg-color);
      transform: translateX(100%);
      transition: transform 750ms ease-in-out;
    }
   
    .navlinks ul li{
      width: 100%;
      margin: 2rem 0;
    }
  
    .navlinks ul li a {
      color: black;
      padding: .5rem 1rem;
      width: auto;
      height: 95%;
      align-items: center;
      font-size: var(--smallfont);
    }
  
    ul .book-button{
      display: none;
    }

    /* main */

    .main-select-wrapper{
      flex-direction: column;
      align-items: center;
    }
    
    .main-wrap{
      padding-bottom: 0;
    }

    #main-header-outer{
      flex-direction: column;
      top: 2rem;
    }

    #main-header{
      order: -1;
    }

    .main-header-shape{
      width: 75%;
    }

    .shape1 h2{
      width: 70%;
      bottom: 0;
      top: 0;
      left: 5.5vh;
      margin: auto;
    }

    .shape2 h2{
      width: 70%;
      bottom: 7%;
    }

    #flag{
      position: relative;
      padding-top: 12%;
      left: 65%;
      right: 0;
      width: 4em;
    }

    /* finishing products */

    #products-main{
      padding-top: 2rem;
    }

    #products{
      gap: 22em;
      padding: 4rem 11em;
    }

    .product-header{
      width: 80%;
    }
  
    .columns{
      grid-auto-flow: row;
    }

    .product-header h2{
      background: white;
    }

}