/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* dictionary */

:root{

  --logored:#9d0728;
  --navbar:#c3ddec;
  --lightblue: #6fa8be;  
  --skyblue:hsla(192, 100%, 79%, 0.979);
  --silverblue: #89a2bd;
  --darkblue: #24445d;
  --purple: #160035;
  --green: #295b39;
  --white:hsla(192, 10%, 90%, 0.979);

  --main-bg-color: linear-gradient(
   to bottom,
   var(--navbar), 
   var(--silverblue));

  --reverse-bg-color: linear-gradient(
   to top, 
   var(--silverblue), 
   white);

  --gradient: linear-gradient(
    to top,
    rgba(243, 243, 243, 0.76),
    var(--navbar)
  );
  --diaggradient: linear-gradient(
    to left,
    aliceblue,
    var(--navbar)
  );
  --lightgradient: linear-gradient(
    to bottom,
    rgba(243, 243, 243, 0.7),
    rgba(255, 255, 255, 0.4)
  );
  --darkgradient: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.804),
    rgba(0, 0, 0, 0.409)
  );
  --bluegradient: linear-gradient(
    to bottom,
     #04224d,
    rgba(0, 0, 0, 0.654)
  );
  --greengradient: linear-gradient(
    to bottom, 
    var(--green),
    rgba(0, 0, 0, 0.654));

  --headerfont: 2.2rem;
  --largefont: 2rem;
  --mediumfont:1.5rem;
  --smallfont: 1.25rem;
  --textfont: 1rem;

  font-family: 'Noto Serif JP', serif;
  font-family: 'Titillium Web', sans-serif;
}

/* General */

* {
  box-sizing: border-box; /*accounts for margin and padding in sizing, easier to size */
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Titillium Web', sans-serif;
  line-height: 1.62; /* golden ratio */
}

main{
  border-top: var(--silverblue) solid 2px;
}

ul {
  list-style-type: none; /* takes bullet points out */
}

h2, h3{
  text-align: center;
  font-weight: 500;
}

h4{
  font-size: var(--textfont);
  text-align: center;
  font-weight: 300;
}

h5{
  padding: 2rem;
  text-align: center;
}

img {
  width: 100%; /*keep images inside box container*/
}

a {
  text-decoration: none; /* takes underline out*/
}

a:visited{
  color: inherit; /* return visited a tag to initial color */
}

a:active{  
  /* emulates pressing of button in 3d space */
  top: 1px;
}

.page-background{
  background-color: var(--navbar);
}

.page-header{
  padding-top: 5rem;
  padding-bottom: 3rem;
  background: var(--navbar);
}

.page-header h2{
  font-size: var(--largefont);
  font-weight: 600;
  padding: 2rem;
  text-align: center;
  margin: auto;
  width: fit-content;
  border-bottom: rgba(0, 0, 0, 0.162) solid 2px;
}

/* Navigation */

#navbar {
  display: flex;
  position: sticky;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar);
  color:hsla(192, 10%, 90%, 0.979);
  height: 4rem;
  margin-right: auto;
  top: 0;
  z-index: 1111;
}

#logo{
    width: 11em;
    position: relative;
    top: 4.5vh;
}

.navlinks{
  display: flex;
  position: relative;
  width: 100%;
  right: 0;
  margin-left: auto;
}

.navlinks ul {
  position: relative;
  display: flex; /*align navbar items in horizontal row */
  width: 100%;
  flex: 1;
  align-items: center;
}

.navlinks ul li{
  flex: 1;
}

.navlinks-menu > li > a{
  display: flex;
  color: var(--darkblue);
  font-weight: 500;
  padding: 1rem;
  height: 80%;
  position: relative;
  justify-content: center;
  font-size: var(--textfont);
}

.navlinks-menu > li > a:hover {
  color:var(--logored);
}

.navlinks-menu > li > a:after{
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--darkblue);
  height: 2px;
}

.navlinks ul li>a:hover:after{
  width: 50%;
}

nav a,
nav a:after,
nav a:before {
  transition: all .4s;
}

.contact-nav{
  border-right: var(--silverblue) solid 2px;
}

#nav-search{
    display: flex;
    width: 1.8em;
    margin: auto;
}

#nav-search:hover{
    cursor: pointer;
}

#logo-nav-outer{
  display: none;
}

.dropdown-nav{
  position: absolute;
  padding: 1em 3em;
  top: 6em;
  height: fit-content;
  background: var(--navbar);
  opacity: 0;
  visibility: hidden;
  transition: 500ms all ease-in-out;
  border-radius: 0 .4em .7em .2em;
}

.navlinks-menu li:hover .dropdown-nav{
  display: block;
  visibility: visible;
  opacity: 1;
}

.dropdown-nav ul{
  display: grid;
  position: relative;
  grid-template-columns: 50% 60%;
  color: var(--darkblue);
  font-weight: 600;
  gap: 2em;
  padding: 1.5em 1em;
}

.dropdown-nav ul li{
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--darkblue);
  border-radius: 7%;
  width: fit-content;
  transition: border-bottom 200ms ease-in-out;
}

.dropdown-nav ul li:hover{
  border-bottom: var(--darkblue) solid 7px;
}

.dropdown-nav ul li:last-child{
  color: var(--logored);
  font-weight: 700;
  font-style: italic;
  width: 80%;
  margin-top: 10%;
  margin-left: 60%;
  /* border: black solid 2px; */
}

.dropdown-nav ul li a{
  color: var(--darkblue);
}

.dropdown-nav ul li:last-child a{
  color: var(--logored);
}

.navlinks .active-nav{
  color: var(--logored);
  font-weight: 600;
}

/* Main */

.main-wrap{
  background-color: aliceblue;
  height: fit-content;
  padding-bottom: 4rem;
}

#main-header-outer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  color: black;
  position: relative;
  top: 4rem;
  padding: 2em;
  height: fit-content;
}

#main-header-outer h1{
  font-weight: 600;
  text-align: center;
  font-size: var(--headerfont);
  text-shadow: -4px 7px 10px rgba(0, 0, 0, 0.244);
  /* offset x ~ offset y ~ blur radius */
  padding: 1rem;
  transition: font-size 2s ease-in-out;
}

h1::after{
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  margin: auto;
  width: 16%;
  content: '.';
  color: transparent;
  background: var(--logored);
  height: 2px;
}

.main-header-shape{
  position: relative;
  display: flex;
  width: 25em;
  background-color: var(--logored);
  color: aliceblue;
	height: 0;
  font-size: .7em;
  line-height: 1.6;
  border: 1px solid aliceblue;
}

.main-header-shape h2{
  width: fit-content;
  height: fit-content;
  text-shadow: -2px 4px 7px rgba(225, 225, 225, 0.445);
  transition: transform 300ms ease-in-out;
}

.main-header-shape h2:hover, #flag img:hover{
  transform: scale(1.03);
}

#flag{
  position: absolute;
  top: 4.4em;
  left: 42%;
  /* padding: 1em; */
  /* right:0; */
  width: 25%;
}

#flag img{
  transition: transform 300ms ease-in-out;
  box-shadow: -2px 4px 7px rgba(0, 0, 0, 0.42);
}

.shape1{
  border-radius: .4em 0 0 .2em;
  /* single sided trapezoid using border */
  border-color: var(--logored) aliceblue transparent transparent;
  /* border-color: var(--logored) aliceblue transparent transparent; */
  border-width: 8em 5em 0 2em; 
}

.shape1 h2{
  position: absolute;
  bottom: .2rem;
  max-width: 12em;
  text-align: start;
  padding-left: 1rem;
  font-style: italic;
  font-weight: 500;
}

.shape2{
  border-radius: 0 .7em .2em 0;
  border-color: var(--logored) transparent transparent aliceblue;
  border-width: 0 0 8em 5em;
  /* top ~ right ~ bottom ~ left */
}

.shape2 h2{
  position: absolute;
  top: 1rem;
  max-width: 11em;
  text-align: start;
  padding-left: .5rem;
  font-weight: 600;
  /* border: black solid 2px; */
}

#main-select-outer{
  width: 100%;
  height: fit-content;
  margin: 8em auto 2em;
  padding: 7rem 2rem;
  background: var(--darkblue);
  backdrop-filter: blur(2rem);
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.851);
}

.main-select-inner{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 67%;
  flex: 1;
  justify-content: center;
  gap: 4em;
  padding: 5em;
  border: aliceblue 1px solid;
  border-radius: 7px;
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.851);
  background: var(--diaggradient);
}

.main-select{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 16em;
  height: 11em;
  color: white;
  background: var(--darkblue);
  text-shadow: -4px 7px 10px rgba(0, 0, 0, 0.244);
  box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.338);
  border-radius: 4px 4px 11px 11px;
  transition: transform 250ms ease-in-out, background-color 300ms ease-in-out;
}

.main-select:hover{
  transform: scale(1.04);
  cursor: pointer;
  background-color: var(--logored);
}

.main-select h3{
  font-style: italic;
}

#main-product-img{
  width: 100%;
  margin: auto;
  padding: 5rem;
}

/* Finishing Products */

#finishing-products-main{
  background: var(--darkblue);
  padding: 3rem 0;
}

.main-select-inner.finishing-products{
  margin: auto;
  padding-top: 3em;
  padding-bottom: 7em;
  width: 50%;
  height: fit-content;
}

.finishing-products-select{
  width: 40%;
  height: 5em;
  padding: 0;
}

.finishing-products-select a{ /*make the entire box clickable for link */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: aliceblue;
}

.finishing-products-select:nth-child(odd) a{
  color: aliceblue;
}

.finishing-products-select:nth-child(even) a{
  color: black;
}

.finishing-products article:nth-child(even){
  background: var(--navbar);
  position: relative;
  top: 4rem;
  transition: all 350ms ease-in-out;
}

.finishing-products article:nth-child(even):hover{
  background: var(--logored);
}

.finishing-products{
  padding: 1rem;
}

.finishing-products ul{
  background: aliceblue;
  border: gainsboro solid 1px;
  width: 95%;
  height: fit-content;
  margin: 1em auto 0;
  list-style-type: circle;
  padding: .5em 2em;
  border-radius: 4px;
  text-align: start;
  box-shadow: -4px 2px 7px rgba(0, 0, 0, 0.209);
}

.finishing-products ul li{
  font-weight: 600;
  margin: 1em auto;
}

#products-main{
  padding-top: 5rem;
  height: fit-content;
  background: var(--diaggradient);
}

.product-header{
  position: relative;
  background: aliceblue;
  width: fit-content;
  height: fit-content;
  margin: 1rem auto;
  padding: 1rem 3.5rem;
  border-radius: 7px 7px 0 0;
  transition: background-color 250ms ease-in-out, color 300ms ease-out;
}

.product-header:hover{
  background-color: var(--logored);
  color: white;
}

.product-header::before{
  content: '';
  position: absolute;
  top: 4.5rem;
  left: -1.5rem;
  width: 3px;
  height: 4rem;
  background: rgba(255, 255, 255, 0.809);
  transform: rotate(34deg);
  border-radius: 50%;
}

.product-header::after{
  content: '';
  position: absolute;
  top: 4.5rem;
  right: -1.5rem;
  width: 3px;
  height: 4rem;
  background: rgba(255, 255, 255, 0.809);
  transform: rotate(-34deg);
  border-radius: 50%;
}

.product-header h2{
  font-weight: 600;
  margin: auto;
  text-align: center;
}

#products{
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); */
  grid-auto-flow: column;
  grid-auto-rows: 30%; /* size of column/element */
  justify-items: center;
  overflow-x: scroll;
  gap: 7em;
  background: var(--darkblue);
  border-radius: .2em;
  height: fit-content;
  width: 100%;
  margin: 4.5rem auto;
  padding: 4rem;
  box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.209);
}

.product-card{
  width: 20em;
  height: 22em;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  padding: .2em;
  perspective: 1000px; 
  background: var(--darkgradient);
}

.blue{
  background: var(--bluegradient);
}

.green{
  background: var(--greengradient);
}

.red{
  background: linear-gradient(to bottom, var(--logored), rgba(122, 122, 122, 0.311));
}

.black{
  background: linear-gradient(to bottom, black, rgba(122, 122, 122, 0.311));
}

.product-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.product-card:hover .product-card-inner {
  transform: rotateY(180deg);
}

.product-card-front, .product-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.product-card-front img{
  border-radius: 2px;
  width: 100%;
  height: 100%;
}

.product-card-back {
  border-radius: 2px;
  background: var(--diaggradient);
  color: black;
  transform: rotateY(180deg);
}

/* Accessories */

.accessories-main{
  height: fit-content;
}

.accessories{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin: auto; */
  padding: 7rem 0;
  background: var(--darkblue);
}

.accessories article{
  display: flex;
  margin: auto;
  width: 20rem;
  height: 7rem;
  border-radius: 0 0 5em 0;
  border: rgba(171, 171, 171, 0.796) solid 2px;
  background: var(--navbar);
  box-shadow: 0 .7rem 2rem rgba(0, 0, 0, 0.199);
  transition: all 300ms ease-in-out;
}

.accessories article:hover{
  transform: scale(1.03);
}

.accessories article a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--logored);
  font-size: var(--smallfont);
  font-weight: 700;
}

.accessories article:nth-child(2){
  border-radius: 0 0 0 5em;
  background: rgba(0, 0, 0, 0.7);
}

.accessories article:nth-child(2) a{
  color: white;
}

/* Locations */

#locations{
  background: var(--gradient);
  overflow-y: scroll;
  margin: 0;
}

#locations h2{
  padding-bottom: 0;
}

#map-container {
  display: flex;
  width: 85vw;
  height: fit-content;
  box-sizing: border-box;
  margin: 0 auto 5rem;
  gap: 2rem;
}

#map-container a {
  text-decoration: none;
  color: var(--navbar);
}

#map-container button {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font-size: inherit;
  cursor: pointer;
}

#gmp-map, #locations-panel{
  height: 80vh;
  margin: auto;
  box-shadow: -2px 2px 7px rgba(0, 0, 0, 0.209);
}

#gmp-map {
  position: relative;
  width: 100%;
  border-radius: 2px 11px;
}

#locations-panel {
  position: relative;
  width: 56%;
  overflow-y: auto;
  background: var(--diaggradient);
  padding: 2em;
  box-sizing: border-box;
  border-radius: 7px;
}

#locations-panel-list > header > h3 {
  text-align: start;
  padding: 1em;
  color: var(--darkblue);
}

#locations-panel-list .search-input {
  width: 90%;
  margin-top: 0.5em;
  margin-left: 1em;
  position: relative;
}

#locations-panel-list .search-input input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  height: 2.2em;
  box-sizing: border-box;
  padding: 0 2.5em 0 1em;
  font-size: 1em;
}

#locations-panel-list .search-input-overlay {
  position: absolute;
}

#locations-panel-list .search-input-overlay.search {
  right: 5%;
  top: 2px;
  bottom: 2px;
  width: 1.3em;
}

#location-search-button{
  width: 100%;
  height: 100%;
  border-radius: 0.2em;
  color: black;
  background: transparent;
}

#locations-panel-list .search-input-overlay.search .icon {
  vertical-align: top;
}

#locations-panel-list .section-name {
  font-weight: 500;
  font-size: 0.9em;
  margin: 1.8em 0 1em 1.5em;
}

#locations-panel-list .location-result {
  position: relative;
  padding: 1.5em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
  width: 90%;
  margin: auto;
  transition: all 300ms ease-out;
}

#locations-panel-list .location-result:first-of-type {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

#locations-panel-list .location-result:last-of-type {
  border-bottom: none;
}

#locations-panel-list .location-result.selected {
  outline: 2px solid var(--logored);
  padding-left: 1em;
  border-radius: 7px;
}

#locations-panel-list button.select-location {
  margin-bottom: 0.6em;
  text-align: left;
}

#locations-panel-list .location-result h2.name {
  font-size: 1em;
  font-weight: 500;
  margin: 0;
}

#locations-panel-list .location-result .address {
  font-size: 0.9em;
  margin-bottom: 0.5em;
}

#locations-panel-list .directions-button {
  position: absolute;
  right: 1.2em;
  top: 2.3em;
}

#locations-panel-list .directions-button-background {
  fill: transparent;
  transition: all 300ms ease-out;
}

#locations-panel-list .directions-button-background:hover {
  fill:rgba(0, 0, 0, 0.321)
}

#locations-panel-list .location-result .distance {
  position: absolute;
  top: 0.9em;
  right: 0;
  text-align: center;
  font-size: 0.9em;
  width: 5em;
}

#locations-panel-list .option-container {
  display: inline-block;
  margin: 0.2em 0;
  position: relative;
}

#locations-panel-list .option-container button{
  background: transparent;
  transition: background-color 300ms ease-in-out;
}

#locations-panel-list .option-container button:hover{
  background-color: #ffffff;
}

#locations-panel-list .option {
  border: 1px solid #bdc1c6;
  border-radius: 0.9em;
  color: #1967d2;
  font-size: 0.9em;
  font-weight: 500;
  padding: 0.3em 0;
}

#locations-panel-list .option > span {
  margin: 0 0.9em;
}

#location-results-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Details Panel */

#locations-panel-details {
  padding: 1.4em;
  box-sizing: border-box;
  display: none;
}

#locations-panel-details .back-button {
  font-size: 1em;
  font-weight: 500;
  color: var(--darkblue);
  display: block;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

#locations-panel-details .back-button .icon {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  filter: invert(30%) sepia(67%) saturate(7379%) hue-rotate(209deg) brightness(95%) contrast(80%);
}

#locations-panel-details > header {
  text-align: center;
}

#locations-panel-details .banner {
  margin-top: 1em;
}

#locations-panel-details h2 {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 0.3em;
}

#locations-panel-details .distance {
  font-size: 0.9em;
  text-align: center;
}

#locations-panel-details .address {
  text-align: center;
  font-size: 0.9em;
  margin-top: 1.3em;
}

#locations-panel-details .atmosphere {
  text-align: center;
  font-size: 0.9em;
  margin: 0.8em 0;
}

#locations-panel-details .star-rating-numeric {
  color: #555;
}

#locations-panel-details .star-icon {
  width: 1.2em;
  height: 1.2em;
  margin-right: -0.3em;
  margin-top: -0.08em;
  vertical-align: top;
  filter: invert(88%) sepia(60%) saturate(2073%) hue-rotate(318deg) brightness(93%) contrast(104%);
}

#locations-panel-details .star-icon:last-of-type {
  margin-right: 0.2em;
}

#locations-panel-details .price-dollars {
  color: #555;
}

#locations-panel-details hr {
  height: 1px;
  color: rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
  margin-bottom: 1em;
}

#locations-panel-details .contact {
  font-size: 0.9em;
  margin: 0.8em 0;
  display: flex;
  align-items: center;
}

#locations-panel-details .contact .icon {
  flex: 0 0 auto;
  width: 1.5em;
  height: 1.5em;
}

#locations-panel-details .contact .right {
  padding: 0.1em 0 0 1em;
}

#locations-panel-details .hours .weekday {
  display: inline-block;
  width: 5em;
}

#locations-panel-details .website a {
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  max-width: 16em;
  text-overflow: ellipsis;
}

#locations-panel-details p.attribution {
  color: #777;
  margin: 0;
  font-size: 0.8em;
  font-style: italic;
}

/* locations map autocomplete bar */
#pac-card {
  background-color: #fff;
  border-radius: 2px 0 0 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  margin: 10px 10px 0 0;
  -moz-box-sizing: border-box;
  outline: none;
}

#pac-container {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 12px;
}

#pac-input {
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #acbcc9;
  font-size: 18px;
  font-weight: 400;
  padding: 6px 12px;
}

.hidden {
  display: none;
}

/* Styling for an info pane that slides out from the left, hidden by default. */
#panel {
  height: 100%;
  width: null;
  background-color: white;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  transition: all .2s ease-out;
}

.open {
  width: 250px;
}

.place {
  font-size: 1.2em;
  font-weight: 500;
  margin-block-end: 0px;
  padding-left: 18px;
  padding-right: 18px;
}

.distanceText {
  color: silver;
  font-size: 1em;
  font-weight: 400;
  margin-block-start: 0.25em;
  padding-left: 18px;
  padding-right: 18px;
}

/* Industry Links */

#industry{
  background: var(--gradient);
}

#industry section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; 
  height: 65vh;
  margin: auto;
  border-bottom: rgba(255, 255, 255, 0.77) solid 2px;
}

#industry section article{
  max-height: 100%;
}

/* target header and paragraph box */
#industry section article:not(.link){ 
  max-height: 100%;
  padding: 2rem;
  max-width: 70ch;
}

#industry section .link{
  display: flex;
  justify-content: center;
  flex-basis: 35%; 
}

#industry section article a{
  color: var(--darkblue);
}

#industry section article p{
  font-size: var(--smallfont);
  font-weight: 400;
  margin: 2rem auto 0;
}

#industry section article img{
  margin: auto;
  padding: 2rem 4rem;
  min-height: 10rem;
  max-height: 25rem;
  max-width: 40rem;
  transition: all 250ms ease-in-out;
}

#industry section article img:hover,
#industry article h3:hover
{
  transform: scale(1.02);
}

#industry article h3{ 
  font-size: var(--smallfont);
  position: relative;
  transition: all 250ms ease-in-out;
}

#industry article h3 a::after{ 
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  height: 2px;
  background: var(--darkblue);
  width: 22%;
}

#industry article:nth-child(even) h3 a::after{ 
  margin:auto;
}

#industry section:nth-child(3n){
  background-color: rgb(255, 255, 255);
  color: var(--darkblue);
}

#industry section:nth-child(3n+1){
  background-color: var(--logored);
  color: aliceblue;
}

#industry section:nth-child(3n) a{
  color: var(--darkblue);
}

#industry section:nth-child(3n+1) a{
  color: aliceblue;
}

#industry article:nth-child(odd) h3{
  text-align: start;
}

#industry article:nth-child(even) p{
  text-align: center;
}

#industry-links article::before{
  position: absolute;
  left: 0;
  top: -5rem;
  width: 100%;
  font-weight: 300;
  font-size: var(--smallfont);
}

.italic{
  font-style: italic;
}

/* Technical Data */

#tech-data-outer{
  display:flex;
  gap: 2rem;
  background: var(--diaggradient);
  height: fit-content;
  padding: 4rem;
  justify-content: center;
}

#tech-data-nav{
  position: sticky;
  top: 10rem;
  height: fit-content;
  width: 22%;
  border: aliceblue solid 1px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.209);
}

#tech-data-nav ul{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

#tech-data-nav li{
  margin: auto;
  text-align: center;
  width: 14vw;
  padding: 1rem .5rem;
  border-radius: 4px;
  background: var(--darkblue);
  box-shadow: -4px 2px 7px rgba(0, 0, 0, 0.209);
  color: aliceblue;
  transition: all 300ms ease-out;
}

#tech-data-nav li a{
  padding: 2rem;
  color: aliceblue;
}

#tech-data-nav li:hover,
#tech-data-outer .tech-data-list a:hover{
  transform: scale(1.02);
  background: var(--logored);
  color: aliceblue;
}

.tech-data-list{
  display: grid;
  gap: 4rem 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 8rem;
  background: var(--darkblue);
  padding: 4rem;
  border-radius: 4px;
}

.tech-data-list a{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: rgb(120, 145, 164);
  color: aliceblue;
  text-align: center;
  border: aliceblue solid 1px;
  border-radius: 7px;
  transition: all 300ms ease-out;
}

.tech-data-list a:nth-child(3n+1){
  background: var(--navbar);
  color: black;
}

.tech-data-list a:nth-child(3n){
  background: rgba(32, 32, 32, 0.615);
  /* color: black; */
}

/* contact page */

/* Footer */

footer{
  background-color: var(--logored);
  color: aliceblue;
  text-align: center;
  font-weight: 300;
  padding: 1em;
}

footer ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5em 4em;
  margin: 0 auto;
  padding: 2em;
  width: 34%;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

footer ul li:hover{
transform: scale(1.02);
}

.footer-item{
  font-weight: 500;
  padding: 2em;
  margin: auto;
}

.footer-item p{
  line-height: 2;
}

/* Responsiveness for tablet */

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

  .main-header-shape{
    font-size: .6em;
    width: 30em;
  }

  .shape1 {
    border-width: 11em 5em 0 2em; 
  }

  .shape1 h2{
    bottom: 1rem;
  }

  .shape2 {
    border-width: 0 2em 11em 5em;
  }

  .shape2 h2{
    top: 1.5rem;
  }

  #flag{
    top: 5.5em;
    left: 50%;
    width: 30%;
  }
}

 /* Responsiveness for phone */

  @media (min-device-width: 375px) 
      and (max-device-width: 812px) { 

  html{
    overflow-x: hidden;
  }
  
  header > h2{
    transition: 1000ms font-size;
    font-size: 2rem;
  }

  header > h3{
    font-size: var(--textfont);
    position: relative;
    padding: 1rem 0 4rem;
  }

  h4{
    font-size: .8rem;
  }

  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color: var(--navbar);
    color:var(--white);
    height: 10vh;
  }

  .burger {
    position: absolute; /*keeps hamburger menu locked on right side of screen*/
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.7rem;
    height: 1.4rem;
    margin:auto;
    cursor: pointer;
  }

  .burger .bar{
    height: .1rem;
    width: 100%;
    background-color: var(--logored);
    border-radius: 1rem; 
  }

  #bar2{
    width: 74%;
    align-self: flex-end;
  }

  .video {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -999;
    width: 100%;
  }

  .homevid {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: auto;
    left: none;
    right: none;
    margin-left: auto;
    margin-right: auto;
  }

  .logo-wrapper{
    display: none;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
  }

  #logo{
    display: none;
  }

  #logo-nav-outer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logo-nav{
    width: 7em;
    margin: .5em auto 0;
    padding: .5em;
    position: relative;
  }

  .navlinks{
    display: flex;
    position: relative;
    width: auto;
    right: 0;
    margin-left: auto;
  }
  
  .navlinks-menu.active{
    transform: translateX(0%);
  }

  .navlinks ul {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 2em;
    width:100vw;
    display: flex;
    flex-direction: column;
    background: var(--main-bg-color);
    transform: translateX(100%);
    transition: transform 750ms ease-in-out;
  }
  
  .navlinks ul li{
    width: 100%;
    margin: 2rem 0;
  }

  .navlinks ul li a {
    position: relative;
    color: black;
    padding: .5rem 1rem;
    width: auto;
    height: 95%;
    align-items: center;
    font-size: var(--smallfont);
  }

  .navlinks ul li a::after{
    position: absolute;
    content: '';
    width: 50%;
    height: 2px;
    top: 11vh;
    color: var(--logored);
  }

  ul .book-button{
    display: none;
  }

  .dropdown-nav{
    display: none;
  }

  .page-header{
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  /* main */

  .main-select-inner{
    width: auto;
  }
  
  .main-wrap{
    padding-bottom: 0;
  }
  
  #main-header-outer{
    flex-direction: column;
    top: 2rem;
    max-width: 25em;
    margin: auto;
    padding: 0;
  }

  #main-header{
    order: -1;
  }

  .main-header-shape{
    position: relative;
    width: 75%;
  }

  .shape1 h2{
    margin: auto;
  }

  #flag{
    position: absolute;
    top: 4em;
    left: 50%;
    right: 0;
    width: 4em;
  }

  /* Finishing Products */
  
  .main-select-inner.finishing-products{
    padding: 3em 0;
    width: 80%;
  }
  
  .finishing-products-select{
    width: 70%;
  }  

  .finishing-products article:nth-child(even){
    top: 0;
  }

  .product-header::after, .product-header::before{
    display: none;
  }

  #products-main{
    padding-top: 2rem;
  }

  #products{
    gap: 7em;
    padding: 2em 0;
    grid-auto-flow: row;
  }

  .product-header{
    width: 80%;
  }

  .columns{
    grid-auto-flow: row;
  }

  /* Accessories */
  
  #accessories-header{
    padding: 2em;
    padding-top: .5em;
  }

  /* Locations */

  #map-container{
    flex-direction: column-reverse;
  }

  #gmp-map {
    left: 0;
    bottom: 50%;
  }

  #locations-panel {
    width: 100%;
    margin: auto;
  }

  /* Industry Links */

  #industry header h2{
    width: 65%;
  }

  #industry section{
    flex-direction: column;
    height: fit-content;
    gap: 0;
    padding: 1rem;
  }

  #industry article h3{
    text-align: center;
  }

  #industry section article p{
    width: 100%;
    max-height: fit-content;
  }

  #industry section:nth-child(even) article:first-child{
    order: 2; /* rearrange html so paragaph description is first and logo is second for mobile scrolling */
  }

  /* Technical data */

  #tech-data-outer{
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  #tech-data-nav{
    position: relative;
    width: 82%;
  }

  #tech-data-nav li{
    width: 90%;
  }
}